{% extends "template/global.template.html" %}

{% block title %} Rekomendosen {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ BASE_URL }}/css/pages/welcome.css">
{% endblock %}

{% block body %}
<div class="rd-welcome-body teal lighten-2">
	<div class="container">
		<div class="row">
			<div class="col s6">
				<div class="rd-bottom">
					<img class="responsive-img" src="{{ BASE_URL }}/images/logo.png">
					<h1 class="white-text">Maaf!</h1>
					<h6 class="white-text">Untuk sementara sistem sedang berada dalam masa maintenance</h6>
					<!-- <a href ="{{ urlFor('home') }}" class="waves-effect waves-light green lighten-1 btn-large">Kembali ke Beranda</a> -->
					<!-- <a href="#" class="grey-text text-lighten-4" style="text-decoration:underline">Kenapa harus login SSO?</a> -->
				</div> 	
			</div>
			<div class="col s6 offset-6 right-align">
				<div class="rd-bottom-org">
					<img class="responsive-img" src="{{ BASE_URL }}/images/org.png">
				</div>
			</div>
		</div>
	</div>
</div>


<footer class="page-footer white rd-welcome-footer center-align">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="rd-copyright title grey-text text-darken-4">© 2015 Rekomendosen A04</p>
				<p class="rd-copyright sub grey-text text-darken-3">Aplikasi ini merupakan bagian dari proyek yang dikembangkan untuk mata kuliah Proyek Perangkat Lunak. <em>All Rights Reserved</em></p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}



