{% extends "template/inside.template.html" %}

{% set warnaTopbar = 'teal' %}
{% block topbar %}
<li {% if halamanDosen %}class="active"{% endif %}><a href="{{ urlFor('dosen') }}">Dosen</a></li>
<li {% if halamanMataKuliah %}class="active"{% endif %}><a href="{{ urlFor('matakuliah') }}">Mata Kuliah</a></li>
<li><a class="modal-trigger" href="#tutorial-dialog">Tutorial</a></li>
{% endblock %}

{% block sidebar %}
<li class="jumlahrekomendasi">
  <span class="rekomendasi"><strong>{{ pengguna.review.count }}</strong> Rekomendasi</span>
</li>

<li class="achievement-list">
  <span>Achievement</span><br/>
  <a href="{{ urlFor('achievement') }}"><img src="http://placehold.it/87x15"></a>
  <!--{% for icon in pengguna.getAllEligableIcons %}
    <img src="{{ icon.getIcon }}" class="green responsive-img rd-icon circle">
  {% endfor %}-->
</li>

<li class="action">
  <ul class="tabs">
    <li class="tab col s6"><a href="#notif" class="active">Notifikasi</a></li>
    <li class="tab col s6"><a href="#log">Riwayat</a></li>
  </ul>
  <div id="notif" class="col s12 sidebar-list">
    {% for notifikasi in pengguna.notifikasi.take(6).get %}
    <div class="rd-card link white waves-effect waves-light" href="#!">
      {{ notifikasi.teks }}
      <div class="waktu">{{ notifikasi.created_at | date("l, j M Y H:i:s") }}</div>
    </div>
    {% endfor %}
  </div>
  <div id="log" class="col s12 sidebar-list">
    {% for riwayat in pengguna.riwayat.orderBy('created_at', 'desc').take(6).get %}
    <div class="rd-card link white waves-effect waves-light" href="#!">
      {{ riwayat.teks }}
      <div class="waktu">{{ riwayat.created_at | date("l, j M Y H:i:s") }}</div>
    </div>
    {% endfor %}
  </div>
</li>
{% endblock %}

{% block additional %}
<a class="waves-effect waves-white btn green lighten-1 rd-feedback modal-trigger" href="#feedback-dialog">Beri Feedback</a>

<!-- Modal Feedback -->
<form method="post" action="{{ urlFor('feedback') }}" id="feedback-dialog" class="modal modal-footer validated">
  <div class="modal-content">
    <h4><i class="small teal-text text-lighten-2 mdi-content-add"></i>Beri Feedback</h4>
    <div class="input-field section">
      <label class="black-text achievement-list">Rating</label>

      <p>
        <input name="rating" type="radio" class="with-gap" value="1" id="rating-1"/>
        <label for="rating-1">1</label>
        <input name="rating" type="radio" class="with-gap" value="2" id="rating-2"/>
        <label for="rating-2">2</label>
        <input name="rating" type="radio" class="with-gap" value="3" id="rating-3"/>
        <label for="rating-3">3</label>
        <input name="rating" type="radio" class="with-gap" value="4" id="rating-4"/>
        <label for="rating-4">4</label>
        <input name="rating" type="radio" class="with-gap" value="5" id="rating-5" checked/>
        <label for="rating-5">5</label>
      </p>
      
    </div>
    <div class="input-field feedback">  
      <textarea placeholder="feedback anda" name="feedback" class="materialize-textarea" required></textarea> 
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="green waves-effect waves-white btn">Kirim</button>
    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Batal</a>
  </div>
</form>
<!-- END Modal Feedback -->

<!-- Modal Tutorial -->
<div id="tutorial-dialog" class="modal white modal-footer" style="height:550px">
  <div class="modal-content">
    <h4><i class="small teal-text text-lighten-2 mdi-content-add"></i>Tutorial</h4>

      <div class="slider">
        <ul class="slides white">
          <li>
           <img src="{{ BASE_URL }}/images/tutorial/tutor-1.png"><!-- random image -->
          </li>
          <li>
            <img src="{{ BASE_URL }}/images/tutorial/tutor-2.png"> <!-- random image -->
          </li>
          <li>
            <img src="{{ BASE_URL }}/images/tutorial/tutor-3.png"> <!-- random image -->
          </li>
          <li>
            <img src="{{ BASE_URL }}/images/tutorial/tutor-4.png"> <!-- random image -->
          </li>
          <li>
            <img src="{{ BASE_URL }}/images/tutorial/tutor-5.png"> <!-- random image -->
          </li>
          <li>
            <img src="{{ BASE_URL }}/images/tutorial/tutor-6.png"> <!-- random image -->
          </li>
        </ul>
      </div>

  </div>
  <div class="modal-footer white">
    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Tutup</a>
  </div>
</div>
<!-- END Modal Tutorial -->
{% endblock %}