{% extends "template/pengguna.template.html" %}

{% block title %}Daftar Mata Kuliah{% endblock %}

{% set halamanMataKuliah = true %}
{% block content %}
	<h2>Daftar Mata Kuliah</h2>
	<h6 class="cap">Fakultas Ilmu Komputer Universitas Indonesia</h6>     
  {% for matakuliah in daftarMataKuliah %}
    <div class="rd-card link grey lighten-5 waves-effect waves-light" href="{{ urlFor('rincianmatakuliah', {'id' : matakuliah.id }) }}">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="{{ matakuliah.foto }}" alt="" class=" activator rd-circle center-block"> 
        </div>
        <div class="col s8">
          <span class="black-text">
            <h4>{{ matakuliah.singkatan_1 }} {% if matakuliah.singkatan_2 is not empty %}/ {{ matakuliah.singkatan_2 }} {% endif %}</h4>
            <h6><strong>{{ matakuliah.nama }}</strong></h6>
          </span>
          <p>{{ matakuliah.deskripsi }}</p>
        </div>
        <div class="col s2">
          <span class="teal-text text-lighten-3 center-align">
            <h5>Semester</h5>
          <h1 style="line-height: 5px;"><strong>{{ matakuliah.semester }}</strong></h1>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m2">
              <h6 class="black-text"><strong>Dosen Pengajar:</strong></h6>
        </div>
        <div class="col s12 m8 black-text">
                {% for dosen in matakuliah.dosen.take(3).get %} 
                  <a href="{{ urlFor('rinciandosen', {'id' : dosen.id}) }}" class="flat left">
                    <img src="{{ dosen.getFoto }}" alt="" class="rd-small-circle left"> 
                    <h6 class="left">{{ dosen.nama }}</h6>
                  </a>
                {% endfor %} 

                {% if matakuliah.dosen.count > 3 %}
                <a href="{{ urlFor('rincianmatakuliah', {'id' : matakuliah.kodemk}) }}#daftardosen" class="lain teal-text text-lighten-3 valign"> lainnya...</a>
                {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}   
{% endblock %}

{% block js %}
<script type="text/javascript">
  $('.rd-card').click(function() {
    window.location = $(this).attr('href');
  })
</script>
{% endblock %}