{% extends "pengguna.template.html" %}

{% block title %}Daftar Mata Kuliah{% endblock %}

{% block content %}
{% if flash.notif is defined %}
<div class="row">
  <div class="col s12">
    <div class="card-panel green lighten-1">
      <span class="white-text">{{ flash.notif }}</span>
    </div>
  </div>
</div>
{% endif %}
	<h2>Daftar Mata Kuliah</h2>
	<h6 class="cap">Fakultas Ilmu Komputer Universitas Indonesia</h6>     
  {% for matakuliah in daftarMataKuliah %}
    <div class=" card rd-card card-panel grey lighten-5 waves-effect waves-light" href="{{ urlFor('rincianmatakuliah', {'id' : matakuliah.kodemk}) }}">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class=" activator circle responsive-img"> 
        </div>
        <div class="col s8">
          <span class="black-text">
            <h4>{{ matakuliah.nama }}</h4>
          </span>
          <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </div>
        <div class="col s2">
          <span class="teal-text text-lighten-3 center-align">
            <h5>Semester</h5>
          <h1 style="line-height: 5px;"><strong>{{ matakuliah.semester }}</strong></h1>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m2">
              <h6 class="black-text"><strong>Dosen Pengajar:</strong></h6>
        </div>
        <div class="col s12 m8 black-text">
                {% for dosen in matakuliah.dosens.take(3).get %} 
                  <a href="{{ urlFor('rinciandosen', {'id' : dosen.id}) }}" class=" rd-left">
                    <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class="circle rd-small-circle responsive-img"> 
                    <h6 class="right">{{ dosen.nama }}, </h6>
                  </a>
                {% endfor %} 

                {% if matakuliah.dosens.count > 3 %}
                <a href="{{ urlFor('rincianmatakuliah', {'id' : matakuliah.kodemk}) }}#daftardosen" class="lain teal-text text-lighten-3 valign"> lainnya...</a>
                {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}   
{% endblock %}

{% block js %}
<script type="text/javascript">
  $('.rd-card').click(function() {
    window.location = $(this).attr('href');
  })
</script>
{% endblock %}