.no-margin {
	margin : 0;
}

/* ---------------------------------------- */
/* ------------------ FORM ---------------- */
/* ---------------------------------------- */
.rd-form input, .rd-form textarea {
	padding-top: 0;
}

/* clearfix */
.input-field:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.input-field .star {
	cursor: pointer;
}

/* ---------------------------------------- */
/* ---------- NAVIGATION & PROFILE -------- */
/* ---------------------------------------- */
.rd-body.container {
	padding-top: 2rem;
}

.rd-nav .profil-button {
	padding : 0 0 0 2rem;
}

.rd-nav .pencarian {
	padding: 0 2rem 0 2rem;
}

.rd-nav .logo {
	padding: 0.5rem 2rem 0.5rem 2rem;
	height: 100%;
	overflow: hidden;
}

.rd-nav .topbar-flash {
	padding: 1rem;
	height: 100%;
}


/* warna teks placeholder di input, gak bisa digabung selectornya */ 
.rd-nav .pencarian ::-webkit-input-placeholder 	{ color: rgba(255, 255, 255, 0.4); }
.rd-nav .pencarian :-moz-placeholder 			{ color: rgba(255, 255, 255, 0.4); }
.rd-nav .pencarian ::-moz-placeholder 			{ color: rgba(255, 255, 255, 0.4); }
.rd-nav .pencarian :-ms-input-placeholder 		{ color: rgba(255, 255, 255, 0.4); }

#sidebar {
	font-size:18px;
	overflow-y:auto;
	padding-bottom: 100px;
}

#sidebar.profil li {
	color: #333;
}

#sidebar.profil li:hover {
	background: inherit;
}

#sidebar.profil li p {
	line-height: 100%;
}

#sidebar.profil .detail{
	border-bottom: 1px solid #ddd;
	padding-top: 100px;
}

#sidebar.profil .nama {
	font-size: 30px;
	font-weight: 200;
}

#sidebar.profil .role {
	line-height: 1rem;
}

#sidebar.profil .action {
	margin-top:60px;
}

#sidebar .jumlahrekomendasi {
	line-height:40px;
}

#sidebar .achievement-list {
	font-size:14px;
	line-height:20px;
}

#sidebar #maintenance-mode-switch {
	padding: 1rem;
}

#sidebar .menu-admin {
	padding: 0;
}

#sidebar .menu-admin .menu-admin-item {
	padding: .5rem 0 .5rem 1.8rem;
	background-color: #607d8b;

	color: white;
	font-weight: 200;

	transition: all .35s ease;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
}

#sidebar .menu-admin .menu-admin-item:hover {
	padding-left: 3.8rem;
	background-color: #455a64;
}

/* ---------------------------------------- */
/* ---------------- FEEDBACK -------------- */
/* ---------------------------------------- */
.rd-feedback {
	position: fixed;
	z-index: 998;		/* 999 dipake buat overlay modals */
	bottom: -18px;
	right: 0;
}

/* ---------------------------------------- */
/* ---------------- CIRCLES --------------- */
/* ---------------------------------------- */
.rd-small-circle {
	width: 20px;
	height: 20px;
	margin: 5px;

	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-clip:padding-box;
}

.rd-circle {
	width: 120px;
	height: 120px;

	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-clip:padding-box;
}

/* ---------------------------------------- */
/* ----------------- CARD ----------------- */
/* ---------------------------------------- */
/*.rd-card-thumb {
	margin: .5rem 0;
	padding: 0;

	height: 300px;
	overflow: hidden;

	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 

	transition: all .35s ease;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
}

.rd-card-thumb.link:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

.rd-card {
	margin: .5rem 0;
	padding: 2rem;
	width: 100%;

	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 

	transition: all .35s ease;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
}

/* clearfix */
.rd-card:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.rd-card.link:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rd-card a.flat {
	color: rgba(3, 155, 229, 1);

	transition: all .35s ease;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
}

.rd-card a.flat:hover {
	color: rgba(3, 155, 299, .45);
}

/* ---------------------------------------- */
/* ---------- REVIEW COLLAPSIBLE ---------- */
/* ---------------------------------------- */

.rd-review.collapsible {
	background: none;
	box-shadow: none;
	border: none;
}

.rd-review.collapsible li.rd-review-item {
	margin-bottom: .8rem;
	border: none;

	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 

	transition: all .35s ease;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
}

.rd-review.collapsible li.rd-review-item:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rd-review.collapsible li.rd-review-rating-6 { border-left : 5px solid #4caf50; }
.rd-review.collapsible li.rd-review-rating-5 { border-left : 5px solid #8bc34a; }
.rd-review.collapsible li.rd-review-rating-4 { border-left : 5px solid #aed581; }
.rd-review.collapsible li.rd-review-rating-3 { border-left : 5px solid #ffeb3b; }
.rd-review.collapsible li.rd-review-rating-2 { border-left : 5px solid #ff9800; }
.rd-review.collapsible li.rd-review-rating-1 { border-left : 5px solid #f44336; }

.star {
	font-size: 1.6rem;
}

.star.rd-review-rating-6 { color : #4caf50; }
.star.rd-review-rating-5 { color : #8bc34a; }
.star.rd-review-rating-4 { color : #aed581; }
.star.rd-review-rating-3 { color : #ffeb3b; }
.star.rd-review-rating-2 { color : #ff9800; }
.star.rd-review-rating-1 { color : #f44336; }
.star.rd-review-rating-0 { color : #bdbdbd; }

.rd-review.collapsible .collapsible-header {
	height: auto;
	padding: 1rem;
	line-height: 1.85rem;
}

.rd-review.collapsible .collapsible-header p,
.rd-review.collapsible .collapsible-body p {
	margin: 0;
	padding: 0
}

.rd-review.collapsible .collapsible-header > .row {
	margin-bottom: 0;
}

.rd-review.collapsible .collapsible-body {
	padding: 1rem 1rem 0;
	line-height: 1.85rem;
	border: none;
	background: white;
}

.rd-review .dropdown-content {
	width: 200px !important;
}

/* ---------------------------------------- */
/* ---------------- VOTE ------------------ */
/* ---------------------------------------- */

.rd-vote h5 {
	text-align: center;
	margin: 0;
}

.rd-vote h5.active {
	font-weight: 700;
}

.rd-vote a {
	color: rgba(0, 0, 0, .3);

	transition: all .35s ease;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
}

.rd-vote a:hover {
	color: rgba(0, 0, 0, .85);
}

.rd-vote a.active {
	color: rgba(0, 0, 0, .9);
}

.rd-vote .btn-vote {
	font-size: 3.5rem;
}

