{% extends "admin.template.html" %}

{% block title %}Kelola Profil Dosen{% endblock %}

{% block content %}
<h2>Kelola Profil Dosen</h2>
<a class="waves-effect waves-light btn rata-kanan modal-trigger" href="#modal-tambah-profil-dosen">Tambah</a>
<!-- Modal Structure -->
<form method="POST" action="{{ urlFor('dosencreate') }}" id="modal-tambah-profil-dosen" class="modal">
	<div class="modal-content">
		<h4>Tambah Profil Dosen</h4>
		<div class="row">
			<div class="col m3 teks-tengah">
			<!-- img src="img/grey.jpg" alt="" class=" activator circle responsive-img">
			<a href="#">Pilih Foto</a> -->
			</div>
		</div>
		<div class="col m9">
			<div class="row">
				<div class="input-field col m12">
					<input type="text" id="nama-create" name="nama" class="validate">
					<label for="nama-create">Nama Dosen</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col m12">
					<input type="text" id="nip-create" name="nip" class="validate">
					<label for="nip-create">NIP</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col m12">
					<input type="text" id="jeniskelamin-create" name="jeniskelamin" class="validate">
					<label for="jeniskelamin-create">Jenis Kelamin</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col m12">
					<input type="date" id="ttl-create" name="ttl" class="datepicker">
					<label for="ttl-create">TTL</label>
				</div>
			</div>
			<!-- <div class="row">
			<div class="input-field col m12">
			<textarea class="materialize-textarea"></textarea>
			<label for="mengajar_mata_kuliah">Mengajar Mata Kuliah</label>
			</div> -->
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="modal-action waves-effect waves-green btn">Simpan</a>
	</div>
</form>

<ul id="daftar-profil-dosen">
	{% for dosen in daftarDosen %}
	<li class="col s12 m8 offset-m2 l6 offset-l3">
		<div class="card card-panel grey lighten-5 waves-effect waves-light">
			<div class="row no-bottom-space">
				<div class="col s12">
					<a href="#modal-hapus-profil-dosen-{{dosen.id}}" class="row rata-kanan hapus-profil-dosen modal-trigger"><i class="mdi-action-highlight-remove"></i></a>
				</div>
			</div>
			<div class="row valign-wrapper modal-trigger" href="#modal-ubah-profil-dosen-{{dosen.id}}">
				<div class="col s2">
					<img src="{{ BASE_URL }}/img/tes.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
				</div>
				<div class="col s8">
					<span class="black-text">
						<h4>{{ dosen.nama }}</h4>
					</span>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
				</div>
				<div class="col s2">
					<span class="teal-text text-lighten-3 center-align">
						<h4>Rating</h4>
						<h1 style="line-height: 5px;"><strong>{{ dosen.jumlahRatingAsString['depan'] }}</strong>.<small>{{ dosen.jumlahRatingAsString['belakang'] }}</small></h1>
						<p>dari {{ dosen.reviews.count }} review</p>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m4 l2">
							<h6 class="matkul black-text"><strong>Mengajar Mata Kuliah:</strong></h6>
				</div>
				<div class="col s12 m4 l8">
                  <span class="black-text">
                    {% for matakuliah in dosen.matakuliahs.get %} 
                      <a href="{{ urlFor('rincianmatakuliah', {'id' : matakuliah.kodemk}) }}" class="valign-wrapper rd-left">
                        <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class="circle rd-small-circle responsive-img"> 
                        <h6>{{ matakuliah.nama }}, </h6>
                      </a>
                    {% endfor %} 
                  </span>
				</div>
			</div>
		</div>
		<!-- Modal Structure -->
		<form method="POST" action="{{ urlFor('dosenupdate', {'id' : dosen.id }) }}" id="modal-ubah-profil-dosen-{{dosen.id}}" class="modal">
			<div class="modal-content">
				<h4>Ubah Profil Dosen</h4>
				<div class="row">
					<div class="col m3 teks-tengah">
					<!-- img src="img/grey.jpg" alt="" class=" activator circle responsive-img">
					<a href="#">Pilih Foto</a> -->
					</div>
				</div>
				<div class="col m9">
					<div class="row">
						<div class="input-field col m12">
							<input type="text" id="nama-update" name="nama" class="validate" value="{{dosen.nama}}">
							<label for="nama-update">Nama Dosen</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col m12">
							<input type="text" id="nip-update" name="nip" class="validate" value="{{dosen.nip}}">
							<label for="nip-update">NIP</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col m12">
							<input type="text" id="jeniskelamin-update" name="jeniskelamin" class="validate" value="{{dosen.jeniskelamin}}">
							<label for="jeniskelamin-update">Jenis Kelamin</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col m12">
							<input type="date" id="ttl-update" name="ttl" class="datepicker" value="{{dosen.ttl}}">
							<label for="ttl-update">TTL</label>
						</div>
					</div>
					<!-- <div class="row">
					<div class="input-field col m12">
					<textarea class="materialize-textarea"></textarea>
					<label for="mengajar_mata_kuliah">Mengajar Mata Kuliah</label>
					</div> -->
				</div>
			</div>
						<div class="modal-footer">
				<button type="submit" class="modal-action waves-effect waves-green btn">Simpan</a>
			</div>

		</form>
		<!-- Modal Structure -->
		<div id="modal-hapus-profil-dosen-{{dosen.id}}" class="modal">
			<div class="modal-content">
				<div class="col s2">
					<i class="medium mdi-action-announcement"></i>
				</div>
				<div class="col s9">
					<p>Hapus profil dosen {{ dosen.nama }}</p>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tidak</a>
				<a href="{{ urlFor('dosendelete', {'id' : dosen.id }) }}" class="modal-action waves-effect waves-green btn geser-kanan-dikit">Ya</a>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}