{% extends "admin.template.html" %}

{% block title %}Kelola Feedback{% endblock %}

{% block content %}
{% if flash.notif is defined %}
<div class="row">
  <div class="col s12">
    <div class="card-panel green lighten-1">
      <span class="white-text">{{ flash.notif }}</span>
    </div>
  </div>
</div>
{% endif %}
<h2>Kelola Feedback</h2>
<table class="responsive-table hoverable white centered">
	 <thead>
          <tr>
              <th data-field="id">ID Feedback</th>
			  <th data-field="id">Feedback Oleh</th>
              <th data-field="name">Nilai</th>
              <th data-field="price">Isi</th>
              <th data-field="price">Action</th>
          </tr>
        </thead>

        <tbody>
        {% for feedback in daftarFeedback %}
          <tr>
			<td>{{feedback.id}}</td>
            <td>{{feedback.pengguna_npm}}</td>
            <td>{{feedback.rating}}</td>
            <td>{{feedback.isi}}</td>
            <td><a href="#modal-hapus-feedback-{{feedback.id}}" class="modal-trigger"><i class="small mdi-action-delete"></i></a></td>
          </tr>
         {% endfor %}
        </tbody>
</table>


{% for feedback in daftarFeedback %}
	<!-- Modal Structure -->
	<div id="modal-hapus-feedback-{{feedback.id}}" class="modal">
		<div class="modal-content">
			<p>Apakah anda yakin ingin hapus hapus Feedback #{{feedback.id}} dari {{feedback.pengguna_npm}}?</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tidak</a>
			<a href="{{ urlFor('feedbackdelete', {'id' : feedback.id }) }}" class="modal-action waves-effect waves-green btn geser-kanan-dikit">Ya</a>
		</div>
	</div>
{% endfor %}

{% endblock %}