{% extends "admin.template.html" %}

{% block title %}Kelola Komentar{% endblock %}

{% block content %}
{% if flash.notif is defined %}
<div class="row">
  <div class="col s12">
    <div class="card-panel green lighten-1">
      <span class="white-text">{{ flash.notif }}</span>
    </div>
  </div>
</div>
{% endif %}
<h2>Kelola Komentar</h2>
<table class="responsive-table hoverable white centered">
	 <thead>
          <tr>
              <th data-field="id">ID Komentar</th>
              <th data-field="name">Tanggal</th>
              <th data-field="price">Nomor</th>
              <th data-field="price">Review ID</th>
              <th data-field="price">Isi Komentar</th>
              <th data-field="price">Action</th>
          </tr>
        </thead>

        <tbody>
        {% for komentar in daftarKomentar %}
          <tr>
            <td>{{komentar.id}}</td>
            <td>({{komentar.created_at}})</td>
            <td>{{komentar.pengguna.first.npm}}</td>
            <td>{{komentar.review.first.id}}</td>
            <td>{{komentar.isi}}</td>
            <td><a href="#modal-ubah-Komentar-{{komentar.id}}" class="modal-trigger"><i class="small mdi-editor-mode-edit"></i></a>&nbsp;<a href="#modal-hapus-Komentar-{{komentar.id}}" class="modal-trigger"><i class="small mdi-action-delete"></i></a></td>
          </tr>
         {% endfor %}
        </tbody>
</table>
	{% for komentar in daftarKomentar %}
		<!-- Modal Structure -->
		<form method="POST" action="{{ urlFor('komentarupdate', {'id' : komentar.id}) }}" id="modal-ubah-Komentar-{{komentar.id}}" class="modal">
			<div class="modal-content">
				<h4>Ubah Komentar</h4>
				<div class="col m12">
					<div class="row">
						<div class="input-field col m12">
							<textarea name="isi" class="materialize-textarea" onblur=' this.value=this.value.replace(/(^\s*)|(\s*$)/g, "");' required>{{komentar.isi}}</textarea>
							<label for="isi">Isi</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class=" modal-action waves-effect waves-green btn">Simpan</button>
			</div>
		</form>
		<!-- Modal Structure -->
		<div id="modal-hapus-Komentar-{{komentar.id}}" class="modal">
			<div class="modal-content">
				<p>Apakah anda yakin ingin hapus Komentar #{{komentar.id}} dari {{komentar.pengguna.first.nama}}({{komentar.pengguna.first.npm}})?</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tidak</a>
				<a href="{{ urlFor('komentardelete', {'id' : komentar.id}) }}" class="modal-action waves-effect waves-green btn geser-kanan-dikit">Ya</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}