{% extends "admin.template.html" %}

{% block title %}Kelola Mata Kuliah{% endblock %}

{% block content %}
{% if flash.notif is defined %}
<div class="row">
  <div class="col s12">
    <div class="card-panel green lighten-1">
      <span class="white-text">{{ flash.notif }}</span>
    </div>
  </div>
</div>
{% endif %}
<h2>Kelola Mata Kuliah</h2>
<a class="waves-effect waves-light btn rata-kanan modal-trigger" href="#modal-tambah-mata-kuliah">Tambah</a>
<!-- Modal Structure -->
<form method="POST" action="{{ urlFor('matakuliahcreate') }}" id="modal-tambah-mata-kuliah" class="modal">
	<div class="modal-content">
		<h4>Tambah Mata Kuliah</h4>
		<div class="col m12">
			<div class="row">
				<div class="col m12">
					<label for="nama_mata_kuliah">Kode MK</label>
					<input type="text" name="kodemk" class="validate" required/>
				</div>
			</div>
			<div class="row">
				<div class="col m12">
					<label for="nama_mata_kuliah">Nama Mata Kuliah</label>
					<input type="text" name="nama" class="validate" required/>
				</div>
			</div>
			<div class="row">
				<div class="col m12">
					<label for="website">Total SKS</label>
					<input type="number" name="sks" class="validate" required/>
				</div>
			</div>
			<div class="row">
				<div class="col m12">
					<label for="website">semester</label>
					<input type="number" name="semester" class="validate" required/>
				</div>
			</div>
			<div class="row">
				<div class="col m12">
					<label for="jeniskelamin-update">Prodi</label>
					<select name="prodi" required>
					  <option value="" disabled selected>Pilih Prodi</option>
					  <option value="Fakultas">Fakultas</option>
					  <option value="Ilmu Komputer">Ilmu Komputer</option>
					  <option value="Sistem Informasi">Sistem Informasi</option>
					</select>
				</div>
			</div>
			<!-- <div class="row">
				<div class="input-field col m12">
					<input type="text" class="validate">
					<label for="pernah_diajar_oleh">Pernah Diajar Oleh</label>
				</div>
			</div> -->
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class=" modal-action waves-effect waves-green btn">Simpan</a>
	</div>
</form>
<ul id="daftar-mata-kuliah">
	{% for matakuliah in daftarMataKuliah %}
	<li>
		<div class=" card card card-panel grey lighten-5 waves-effect waves-light" href="#!">
			<div class="row no-bottom-space">
				<div class="col s12">
					<a href="#modal-hapus-mata-kuliah-{{matakuliah.kodemk}}" class="row rata-kanan hapus-profil-dosen modal-trigger"><i class="mdi-action-highlight-remove"></i></a>
				</div>
			</div>

			<div class="row valign-wrapper modal-trigger" href="#modal-ubah-mata-kuliah-{{matakuliah.kodemk}}">
				<div class="col s2">
					<img src="{{ BASE_URL }}/img/grey.jpg" alt="" class=" activator circle responsive-img"> <!-- notice the "circle" class -->
				</div>
				<div class="col s8">
					<span class="black-text">
						<h4>{{ matakuliah.nama }}</h4>
					</span>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
				</div>
				<div class="col s2">
					<span class="teal-text text-lighten-3 center-align">
						<h5>Semester</h5>
						<h1 style="line-height: 5px;"><strong>{{ matakuliah.semester }}</strong></h5>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m4 l2">
						<h6 class="black-text"><strong>Dosen Pengajar:</strong></h6>
					</div>
					<div class="col s12 m4 l8">
						<span class="black-text valign-wrapper">
		                {% for dosen in matakuliah.dosens.get %} 
		                  <a href="{{ urlFor('rinciandosen', {'id' : dosen.id}) }}" class="valign-wrapper rd-left">
		                    <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class="circle rd-small-circle responsive-img"> 
		                    <h6 class="valign">{{ dosen.nama }}, </h6>
		                  </a>
		                {% endfor %}
					</div>
				</div>
			</div>
			<!-- Modal Structure -->
			<form method="POST" action="{{ urlFor('matakuliahupdate', {'kodemk' : matakuliah.kodemk}) }}" id="modal-ubah-mata-kuliah-{{matakuliah.kodemk}}" class="modal">
				<div class="modal-content">
					<h4>Ubah Mata Kuliah</h4>
					<div class="col m12">
						<!-- <div class="row">
							<div class="col m12">
								<label for="nama_mata_kuliah">Kode MK</label>
								<input type="text" name="kodemk" value="{{matakuliah.kodemk}}" class="validate" required/>
							</div>
						</div> -->
						<div class="row">
							<div class="col m12">
								<label for="nama_mata_kuliah">Nama Mata Kuliah</label>
								<input type="text" name="nama" value="{{matakuliah.nama}}"class="validate" required/>
							</div>
						</div>
						<div class="row">
							<div class="col m12">
								<label for="website">Total SKS</label>
								<input type="number" name="sks" value="{{matakuliah.sks}}" class="validate" required/>
							</div>
						</div>
						<div class="row">
							<div class="col m12">
								<label for="website">semester</label>
								<input type="number" name="semester" value="{{matakuliah.semester}}" class="validate" required/>
							</div>
						</div>
						<div class="row">
							<div class="col m12">
								<label for="jeniskelamin-update">Prodi</label>
								<select name="prodi" required>
								  <option {% if matakuliah.prodi == 'Fakultas' %}selected="true"{%endif%} value="Fakultas">Fakultas</option>
								  <option {% if matakuliah.prodi == 'Ilmu Komputer' %}selected="true"{%endif%} value="Ilmu Komputer">Ilmu Komputer</option>
								  <option {% if matakuliah.prodi == 'Sistem Informasi' %}selected="true"{%endif%} value="Sistem Informasi">Sistem Informasi</option>
								</select>
							</div>
						</div>
						<!-- <div class="row">
							<div class="input-field col m12">
								<input type="text" class="validate">
								<label for="pernah_diajar_oleh">Pernah Diajar Oleh</label>
							</div>
						</div> -->
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class=" modal-action waves-effect waves-green btn">Simpan</a>
				</div>
			</form>
			<!-- Modal Structure -->
			<div id="modal-hapus-mata-kuliah-{{matakuliah.kodemk}}" class="modal">
				<div class="modal-content">
					<p>Hapus mata kuliah {{matakuliah.nama}}?</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tidak</a>
					<a href="{{ urlFor('matakuliahdelete', {'kodemk' : matakuliah.kodemk}) }}" class="modal-action waves-effect waves-green btn geser-kanan-dikit">Ya</a>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% endblock %}