{% extends "admin.template.html" %}

{% block title %}Kelola Report{% endblock %}

{% block content %}
{% if flash.notif is defined %}
<div class="row">
  <div class="col s12">
    <div class="card-panel green lighten-1">
      <span class="white-text">{{ flash.notif }}</span>
    </div>
  </div>
</div>
{% endif %}
<h2>Kelola Report</h2>
<table class="responsive-table hoverable white centered">
	 <thead>
          <tr>
              <th data-field="id">Report By</th>
              <th data-field="name">Review ID</th>
          </tr>
        </thead>

        <tbody>
        {% for report in daftarReport %}
          <tr>
            <td>{{report.pengguna_npm}}</td>
            <td>{{report.review_id}}</td>
          </tr>
         {% endfor %}
        </tbody>
</table>

	{% for report in daftarReport %}
	
		<!-- Modal Structure -->
		<!-- <div id="modal-hapus-Report" class="modal">
			<div class="modal-content">
				<p>Hapus Report dari 1206277350?</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tidak</a>
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn geser-kanan-dikit">Ya</a>
			</div>
		</div> -->

	{% endfor %}

{% endblock %}