{% extends "template/pengguna.template.html" %}

{% block title %}Daftar Dosen{% endblock %}

{% set halamanDosen = true %}
{% block content %}
	<h2>Daftar Dosen</h2>
	<h6 class="cap">Fakultas Ilmu Komputer Universitas Indonesia</h6>  
	{% for dosen in daftarDosen %}
		<div class="rd-card link white waves-effect waves-light" href="{{ urlFor('rinciandosen', {'id' : dosen.id }) }}">
			<div class="row">
				<div class="col s2">
					<img src="{{ dosen.getFoto }}" alt="" class="rd-circle center-block"> 
				</div>
				<div class="col s8">
					<span class="black-text">
						<h4>{{ dosen.nama }}</h4>
					</span>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
				</div>
				<div class="col s2">
					<span class="teal-text text-lighten-3 center-align">
						<h4>Rating</h4>
						<h1 style="line-height: 5px;"><strong>{{ dosen.jumlahRatingAsString['depan'] }}</strong>.<small>{{ dosen.jumlahRatingAsString['belakang'] }}</small></h1>
						<p>dari {{ dosen.review.count }} review</p>
					</span>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m4 l2">
					<h6 class="matkul black-text"><strong>Mengajar Mata Kuliah:</strong></h6>
				</div>
				<div class="col s12 m4 l8">
                  <span class="black-text">
                    {% for matakuliah in dosen.matakuliah.take(3).get %} 
                      <a href="{{ urlFor('rincianmatakuliah', {'id' : matakuliah.id }) }}" class="flat left">
                        <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class="rd-small-circle left"> 
                        <h6 class="left">{{ matakuliah.nama }}</h6>
                      </a>
                    {% endfor %} 

                    {% if dosen.matakuliahs.count > 3 %}
                    <a href="{{ urlFor('rinciandosen', {'id' : dosen.id}) }}#daftarmatakuliah" class="lain teal-text text-lighten-3 valign"> lainnya...</a>
                    {% endif %}
                  </span>
				</div>
			</div>
		</div> 
	{% endfor %}

	<!-- <div class="row">
	{% for dosen in daftarDosen %}
		<div class="col s12 m3 rd-card-thumb">
			<img src="{{ dosen.getFoto }}" class="rd-card-thumb-img">
			<div class="rd-card-thumb-desc">
			asdsad
			</div>
		</div>
	{% endfor %}
	</div> -->

{% endblock %}
