{% extends "template/pengguna.template.html" %}

{% block title %}{{ dosen.nama }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ BASE_URL }}/css/pages/rinciandosen.css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m4 l2">
    <img src="{{ dosen.getFoto }}" alt="" class="rd-circle center-block">
  </div>
  <div class="col s12 m8 l10 rd-dosen-nama">
    <h2>{{ dosen.nama }}</h2>
    <h6 class="cap"><strong>NIP</strong> {{ dosen.nip }}</h6> 
    <h6 class="cap">Fakultas Ilmu Komputer Universitas Indonesia</h6> 
  </div>
</div>
<div class="row">
  <div class="rd-card white">
    <div class="row">
      <div class="col s12 m9">
        <table class="bordered">
          <tr>
            <td><strong>Jenis Kelamin</strong></td>
            <td>{{ dosen.jenisKelaminAsString }}</td>
          </tr>
          <tr>
            <td><strong>Pendidikan</strong></td>
            <td>{{ dosen.pendidikan }}</td>
          </tr>
        </table>
        <br/>
        <a class="waves-effect waves-light btn {% if pengguna.isSubscribe(dosen.id) %}teal{% else %}green{% endif %} ligten-1" id="subscribe"><i class="mdi-hardware-cast left"></i><span class="text">{% if pengguna.isSubscribe(dosen.id) %}subscribed{% else %}subscribe{% endif %}</span></a>
      </div>
      <div class="col s12 m3">
        <div class="row teal-text text-lighten-3 center-align">
          <h4>Rating</h4>
          <h1 style="line-height: 5px;"><strong>{{ dosen.jumlahRatingAsString['depan'] }}</strong>.<small>{{ dosen.jumlahRatingAsString['belakang'] }}</small></h1>
          <p>dari {{ dosen.review.count }} review</p>
        </div>
      </div>
    </div>

    <div class="row">
      <a name="daftarmatakuliah"></a>

      <div class="col s12 m9">
        <h5>Pernah Mengajar</h5> 
        <span class="black-text">
          {% for matakuliah in dosen.matakuliah.get %} 
          <a href="{{ urlFor('rincianmatakuliah', {'id' : matakuliah.id }) }}" class="flat left">
            <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class="rd-small-circle left"> 
            <h6 class="left">{{ matakuliah.nama }}</h6>
          </a>
          {% endfor %}
        </span>
      </div>
    </div>
  </div>
</div>  

<!-- Form -->
{% if pengguna.isAktif %}
<div class="row">
  <form method="POST" class="rd-card rd-form white" id="beri-review">
    <h5>Review Anda</h5>

    <div class="input-field" id="input-rating">
      <i class="mdi-action-grade star rd-review-rating-0 left"></i>
      <i class="mdi-action-grade star rd-review-rating-0 left"></i>
      <i class="mdi-action-grade star rd-review-rating-0 left"></i>
      <i class="mdi-action-grade star rd-review-rating-0 left"></i>
      <i class="mdi-action-grade star rd-review-rating-0 left"></i>
      <i class="mdi-action-grade star rd-review-rating-0 left"></i>

      <input type="hidden" name="rating" value="0">
    </div>

    <div class="input-field">  
      <textarea name="review" class="materialize-textarea" required></textarea> 
    </div>

    <div class="input-field">  
      <button type="submit" class="waves-effect waves-light btn green ligten-1 right"><i class="mdi-content-send right"></i>Berikan Review</button>
    </div>
  </form>
</div>
{% endif %}

<!-- Review -->
<div class="row">
  <ul class="rd-review collapsible popout" data-collapsible="expandable">

    {% for review in dosen.review.get %}
    <!-- Review Item --> 
    <li class="rd-review-item rd-review-rating-{{ review.rating }}">
      <div class="collapsible-header">
        <div class="row valign-wrapper">

          <!-- Vote button -->
          <div class="col s1 rd-vote">
            <a href="{{ urlFor('upvote', {'id' : review.id }) }}" {% if pengguna.isGivingUpvote(review.id) %}class="active"{% endif %}>
              <i class="mdi-navigation-arrow-drop-up btn-vote"></i>
            </a>

            <h5>{{ review.jumlahVoteAsString }}</h5>

            <a href="{{ urlFor('upvote', {'id' : review.id }) }}" {% if pengguna.isGivingDownvote(review.id) %}class="active"{% endif %}>
              <i class="mdi-navigation-arrow-drop-down btn-vote"></i>
            </a>
          </div>

          <!-- image -->
          <div class="col s1">
            <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class="circle responsive-img left">
          </div>

          <div class="col s9">
            <div class="row no-margin">
              <div class="col s12">
                {% for i in 1..review.rating %}
                <i class="mdi-action-grade star rd-review-rating-{{ review.rating }} left"></i>
                {% endfor %}

                {% for i in review.rating+1..6 %}
                <i class="mdi-action-grade grey-text text-lighten-1 left"></i>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <p>{{ review.isi }}</p>
              </div>
            </div>
          </div>

          <div class="col s1">
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn-flat' href='#' data-hover="true" data-activates='review-{{ review.id }}-menu'><i class="mdi-navigation-more-vert"></i></a>

            <!-- Dropdown Structure -->
            <ul id='review-{{ review.id }}-menu' class='dropdown-content'>
              {% if pengguna.id == review.pengguna_id %}
              <li><a href="#!">Delete</a></li>
              {% endif %}
              <li class="divider"></li>
              <li><a href="#!">Report</a></li>
            </ul>
          </div>
        </div>

      </div>

      <!-- Review comment -->
      <div class="collapsible-body">

        <!-- Review comment item -->
        {% for komentar in review.komentar.get %}
        <div class="row valign-wrapper">

          <div class="col s1 offset-s2">
            <img src="{{ BASE_URL }}/img/grey.jpg" alt="" class="circle responsive-img left">
          </div>

          <div class="col s8">
            <p>{{ komentar.isi }}</p>
          </div>

          <div class="col s1">
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn-flat' href='#' data-hover="true" data-activates='komentar-{{ komentar.id }}-menu'><i class="mdi-navigation-more-vert"></i></a>

            <!-- Dropdown Structure -->
            <ul id='komentar-{{ komentar.id }}-menu' class='dropdown-content'>
              {% if pengguna.id == komentar.pengguna_id %}
              <li><a href="#!">Delete</a></li>
              {% endif %}
              <li class="divider"></li>
              <li><a href="#!">Report</a></li>
            </ul>
          </div>
        </div>
        {% endfor %}

        <form class="validated row valign-wrapper" method="POST" action="{{ urlFor('komentar', {'id' : review.id}) }}">
            <div class="input-field col s8 offset-s3">
              <input type="text" name="komentar" placeholder="tuliskan komentar" required>
            </div>

            <div class="col s1">
              <button type="submit" class="btn-flat"><i class="mdi-content-send"></i></button>
            </div>
        </form>

      </div>
    </li>
    {% endfor %}

  </ul>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ BASE_URL }}/js/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}/js/vendor/jquery.validate.additional-methods.min.js"></script>

<script type="text/javascript">

  $('.collapsible').collapsible();

  // SUBSCRIBE BUTTON HANDLER
  $('#subscribe').click( function(e) {
    e.preventDefault();

    $(this).parent().append('<div class="progress progress-subscribe"><div class="indeterminate"></div></div>');
    $(this).toggle();

    // AJAX 
    $.post( "{{ urlFor('subscribe', {'id' : dosen.id }) }}", function( data ) {

      data = JSON.parse(data);

      if (data.status == 'success') {

        Materialize.toast("Berhasil " + ((data.subscribe) ? "subscribe" : "unsubscribe") + " {{ dosen.nama }}", 2000);
        $('#subscribe').find('.text').html( (data.subscribe) ? "subscribed" : "subscribe" );

        if (data.subscribe) 
          $('#subscribe').removeClass('green').addClass('teal');
        else 
          $('#subscribe').removeClass('teal').addClass('green');

      } else {
        Materialize.toast("Terdapat kesalahan", 2000)
      }

    }).fail( function() {
      Materialize.toast("Terdapat kesalahan koneksi ke server", 2000)

    }).always( function() {
      $('#subscribe').toggle();
      $('.progress-subscribe').remove();
    });
    // END AJAX

  });

  // RATING INPUT HANDLER
  function ratingStarFilter() {
    return function (index, css) {
          return (css.match (/(^|\s)rd-review-rating-\S+/g) || []).join(' ');
      }
  }

  $('#input-rating .star').hover( 
    function() {
      var ratingIndex = $(this).index() + 1;

      for (i = ratingIndex; i >= 0; i--) 
        $('#input-rating .star:nth-child(' + i + ')').removeClass(ratingStarFilter).addClass('rd-review-rating-' + ratingIndex);

      for (i = 6; i > ratingIndex; i--)
        $('#input-rating .star:nth-child(' + i + ')').removeClass(ratingStarFilter).addClass('rd-review-rating-0');
    },

    function() {
      var ratingIndex = $('#input-rating input[name="rating"]').val();

      for (i = ratingIndex; i >= 0; i--) 
        $('#input-rating .star:nth-child(' + i + ')').removeClass(ratingStarFilter).addClass('rd-review-rating-' + ratingIndex);

      for (i = 6; i > ratingIndex; i--)
        $('#input-rating .star:nth-child(' + i + ')').removeClass(ratingStarFilter).addClass('rd-review-rating-0');
    }
  );

  $('#input-rating .star').click( function() {
    var ratingIndex = $(this).index() + 1;

    $('#input-rating input[name="rating"]').val(ratingIndex);
    $('#input-rating input[name="rating"]').parent().find('p').remove();
  });

  // FORM VALIDATION 
  $('form.validated').each( function() {
    $(this).validate();
  });

  $('#beri-review').submit( function(e) {
    e.preventDefault();

    $(this).find('button[type="submit"]').parent().append('<div class="progress progress-review"><div class="indeterminate"></div></div>');
    $(this).find('button[type="submit"]').toggle();

    var totalValid = $(this).valid();
    var ratingValid = $.isNumeric($('#beri-review input[name="rating"]').val()) &&
                      $('#beri-review input[name="rating"]').val() > 0          &&
                      $('#beri-review input[name="rating"]').val() <= 6;

    if (!ratingValid) {
      $('#beri-review input[name="rating"]').parent().find('p').remove();
      $('#beri-review input[name="rating"]').parent().append('<p class="not valid">Silahkan isi rating</p>');
    } else {
      $('#beri-review input[name="rating"]').parent().find('p').remove();
    }

    if (totalValid && ratingValid) {

      var reviewText = $(this).find('textarea').val();
      var ratingVal = $(this).find('input[name="rating"]').val();

      // AJAX 
      $.post( "{{ urlFor('review', {'id' : dosen.id }) }}", { review: reviewText, rating: ratingVal }, function( data ) {

        data = JSON.parse(data);
        console.log(data);

        if (data.status == 'success') {
          Materialize.toast("Berhasil memberikan review", 2000)
          location.reload();
        } else if (data.status == 'invalid') {
          Materialize.toast(data.message, 2000)
        } else {
          Materialize.toast("Terdapat kesalahan", 2000)
        }

      }).fail( function() {
        Materialize.toast("Terdapat kesalahan koneksi ke server", 2000)

      }).always( function() {
        $('progress-review').remove();
        $(this).find('button[type="submit"]').toggle();
      });
      // END AJAX
    } else {
      $('.progress-review').remove();
      $(this).find('button[type="submit"]').toggle();
    }

  });

</script>
{% endblock %}