{% extends "pengguna.template.html" %}

{% block title %}Achievement{% endblock %}

{% block content %}
	<div class="row">
        <div class="card card-panel grey lighten-5">
			<div class="row">
				<div class="col m9">
				  <span class="black-text">
					<h4>Badge Unlocked</h4>
				  </span>
				</div>
			</div>
			<div class="row">
				<div class="col s2 center"><div><img class="responsive-img" src="http://localhost/rekomendosen/public/img/padlock_small.png"></div><br/><span>Gurita Ungu</span></div>
				<div class="col s2 center"><img class="circle responsive-img" src="http://placehold.it/100x100"><br/><span>Piala Emas</span></div>
				<div class="col s2 center"><img class="circle responsive-img" src="http://placehold.it/100x100"><br/><span>Durian Kuning</span></div>
				<div class="col s2 center"><img class="circle responsive-img" src="http://placehold.it/100x100"><br/><span>Robot Pink</span></div>
				<div class="col s2 center"><img class="circle responsive-img" src="http://placehold.it/100x100"><br/><span>Ular Biru</span></div>
				<div class="col s2 center"><img class="circle responsive-img" src="http://placehold.it/100x100"><br/><span>Kodok Sombong</span></div>
			</div>
		</div>  
{% endblock %}