{% extends "admin.template.html" %}

{% block title %}Daftar Dosen{% endblock %}

{% block content %}
	<h2>Kelola Komentar</h2>
	<ul id="daftar-Komentar" class="row margin-nol">
	<li>
		<div class="col m12 card card-panel grey lighten-5 waves-effect waves-light padding-20" href="#!">
			<a href="#modal-hapus-Komentar" class="row rata-kanan hapus-profil-dosen modal-trigger"><i class="mdi-action-highlight-remove"></i></a>
          <div class="row valign-wrapper modal-trigger" href="#modal-ubah-Komentar">
            <div class="col s12">
              <span class="black-text">
                <h4>1206277350</h4>
              </span>
				<ul>
					<li>Isi: Pak Arifin orangnya baik hati, tidak sombong, dan rajin menabung.</li>
				</ul>
			</div>
          </div>
        </div>
			<!-- Modal Structure -->
	<div id="modal-ubah-Komentar" class="modal">
		<div class="modal-content">
		  <h4>Ubah Komentar</h4>
		  <form class="col m12">
			<div class="row">
			<div class="input-field col m12">
			<input type="text" class="validate">
			<label for="npm">NPM</label>
			</div>
			</div>
			<div class="row">
			<div class="input-field col m12">
			<textarea class="materialize-textarea"></textarea>
			<label for="isi">Isi</label>
			</div>
			</div>
		  </form>
		  </div>
		<div class="modal-footer">
		  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Simpan</a>
		</div>
		</div>
		<!-- Modal Structure -->
		<div id="modal-hapus-Komentar" class="modal">
		<div class="modal-content">
		<p>Hapus Komentar dari 1206277350?</p>
		</div>
		<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tidak</a>
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn geser-kanan-dikit">Ya</a>
		</div>
		</div>
		</li>
	</ul>
{% endblock %}