{% extends "admin.template.html" %}

{% block title %}Daftar Dosen{% endblock %}

{% block content %}
	<h2>Kelola Report</h2>
	<ul id="daftar-Report" class="row margin-nol">
	<li>
		<div class="col m12 card card-panel grey lighten-5 waves-effect waves-light padding-20" href="#!">
			<a href="#modal-hapus-Report" class="row rata-kanan hapus-profil-dosen modal-trigger"><i class="mdi-action-highlight-remove"></i></a>
          <div class="row valign-wrapper">
            <div class="col s12">
              <span class="black-text">
                <h4>1206277350</h4>
              </span>
				<ul>
					<li>Isi: Pak Arifin orangnya baik hati, tidak sombong, dan rajin menabung.</li>
				</ul>
			</div>
          </div>
        </div>
		<!-- Modal Structure -->
		<div id="modal-hapus-Report" class="modal">
		<div class="modal-content">
		<p>Hapus Report dari 1206277350?</p>
		</div>
		<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tidak</a>
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn geser-kanan-dikit">Ya</a>
		</div>
		</div>
		</li>
	</ul>
{% endblock %}