{% extends "pengguna.template.html" %}

{% block sidebar %}
	<li>
		<h5>ADMINISTRATOR TOOLS</h5>
  </li>

	<li>
    <ul id="menu-admin">
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('statistik') }}">Statistik Website</a></li>
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('cruddosen') }}">Kelola Profil Dosen</a></li>
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('crudmatakuliah') }}">Kelola Mata Kuliah</a></li>
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('crudpengguna') }}">Kelola Pengguna</a></li>
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('rudreview') }}">Kelola Review</a></li>
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('rudkomentar') }}">Kelola Komentar</a></li>
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('rreport') }}">Kelola Report</a></li>
			<li class="menu-admin-item teal lighten-2"><a href="{{ urlFor('rdfeedback') }}">Kelola Feedback</a></li>
			<!-- <li class="menu-admin-item teal lighten-2"><a href="#">Maintenance Mode</a></li> -->
			<!-- <li class="menu-admin-item teal lighten-2"><a href="#">Maintenance Mode</a></li> ACTIVE CLASS -->
		</ul>
	</li>
{% endblock %}
