{% extends "pengguna.template.html" %}

{% block title %}CRUD Pengguna{% endblock %}

{% block content %}
		<A class = "modal-trigger" href = "#penggunacreate-dialog">Add</a>
		 <!-- Modal Pengguna -->
		  <form action="{{ urlFor('penggunacreate') }}" method="post" id="penggunacreate-dialog" class="modal modal-footer">
			<div class="modal-content">
			  <h4>Create Pengguna</h4>
			  <div class="input-field">
				<textarea id="npmpng" name="npmpng" class="materialize-textarea"></textarea>
				<label for="npmpng">NPM Pengguna : </label>
			  </div>
			  
			  <div class="input-field">
				<textarea id="namapng" name="namapng" class="materialize-textarea"></textarea>
				<label for="namapng">Nama : </label>
			  </div>
			  
			  <div class="input-field">
				<textarea id="rolepng" name="rolepng" class="materialize-textarea"></textarea>
				<label for="rolepng">Role : </label>
			  </div>
			  
			  <div class="input-field">
				<textarea id="bannedhinggapng" name="bannedhinggapng" class="materialize-textarea"></textarea>
				<label for="bannedhinggapng">Banned Hingga : </label>
			  </div>
				
			  <label>
			</div>
			<div class="modal-footer">
			  <button type="submit" class="green waves-effect waves-white btn">Kirim</button>
			  <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Batal</a>
			</div>
		  </form>
		{% for png in daftarpengguna %}
		<li>{{ png.npm}}</li>
		<li>{{ png.nama}}</li>
		<li>{{ png.role}}</li>
		<li>{{ png.banned_hingga}}</li>
		<A href = "{{ BASE_URL }}/admin/crudpengguna/delete/{{ png.npm}}">Delete</a>
		<a class = "modal-trigger" href = "#penggunaupdate-dialog-{{ png.npm }}" data-id= "{{png.npm}}">Update</a>
		
		<!-- Modal Pengguna -->
		  <form action="{{ BASE_URL }}/admin/crudpengguna/update/{{png.npm}}" method="post" id="penggunaupdate-dialog-{{ png.npm }}" class="modal modal-footer">
			<div class="modal-content">
			  <h4>Update Pengguna</h4>
			  <div class="input-field">
				<textarea id="npmpng-{{png.npm}}" name="npmpng" class="materialize-textarea">{{ png.npm }}</textarea>
				<label for="npmpng-{{png.npm}}">NPM Pengguna : </label>
			  </div>
			  
			  <div class="input-field">
				<textarea id="namapng-{{png.npm}}" name="namapng" class="materialize-textarea">{{png.nama}}</textarea>
				<label for="namapng-{{png.npm}}">Nama Pengguna : </label>
			  </div>
			  
			  <div class="input-field">
				<textarea id="rolepng-{{png.npm}}" name="rolepng" class="materialize-textarea">{{png.role}}</textarea>
				<label for="rolepng-{{png.npm}}">Role : </label>
			  </div>
			  
			  <div class="input-field">
				<textarea id="bannedhinggapng-{{png.npm}}" name="bannedhinggapng" class="materialize-textarea">{{png.banned_hingga}}</textarea>
				<label for="bannedhinggapng-{{png.npm}}">Banned Hingga : </label>
			  </div>
				
			  <label>
			</div>
			<div class="modal-footer">
			  <button type="submit" class="green waves-effect waves-white btn">Kirim</button>
			  <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Batal</a>
			</div>
		  </form>
		{% endfor %}
{% endblock %}
