{% extends "pengguna.template.html" %}

{% block title %}Daftar Dosen{% endblock %}

{% block content %}
	<div class="row">
		<img src="{{ BASE_URL }}img/tes.jpg" alt="" class="col s2 activator circle responsive-img">
		<div class="col">
			<h2>Rizkania Amaranggana Yusuf</h2>
			<h6 class="cap">Fakultas Ilmu Komputer Universitas Indonesia</h6> 
		</div>
	</div>
	<div class="row">
        <div class="card card-panel grey lighten-5">
          <div class="row">
            <div class="col m9">
              <span class="black-text">
                <h4>Deskripsi Singkat</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col m3">
              <div class="row teal-text text-lighten-3 center-align">
                <h4>Rating</h4>
				<h1 style="line-height: 5px;"><strong>9</strong>.<small>85</small></h1>
              </div>
			  <div id="rekomendasi-anda" class="row">
                <h6 class="row center-align"><strong>Rekomendasi Anda?</strong></h6>
				<div class="row-btn-rekomendasi">
				<a class="waves-effect waves-light btn btn-rekomendasi"><i class="mdi-content-add white-text"></i></a>
				<a class="waves-effect waves-light btn red lighten-1 btn-rekomendasi"><i class="mdi-content-remove white-text"></i></a>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>  
	<div class="row">
		<a class="waves-effect waves-light btn tab-rekomendasi">Rekomendasi</a>
		<a class="waves-effect waves-light btn tab-rekomendasi disabled red lighten-1">Tidak Rekomendasi</a>
	</div>
	<div class="row">
        <div class="card card-panel grey lighten-5 card-review">
			<div class="row">
				<div class="col m1 vote-review">
					<i class="mdi-navigation-arrow-drop-up btn-vote-review"></i>
					<span>+7</span>
					<i class="mdi-navigation-arrow-drop-down btn-vote-review"></i>
				</div>
				<div class="col m2">
					<img src="{{ BASE_URL }}img/tes.jpg" alt="" class="activator circle responsive-img">
				</div>
				<div class="col m9">
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
			<div class="row">
				<div class="col m9 offset-m3">
					<div class="col m2"><img src="{{ BASE_URL }}img/tes.jpg" alt="" class="activator circle responsive-img"></div>
					<div class="col m10">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col m9 offset-m3">
					<div class="col m2"><img src="{{ BASE_URL }}img/tes.jpg" alt="" class="activator circle responsive-img"></div>
					<div class="col m10">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col m9 offset-m3">
					<textarea id="textarea1" class="materialize-textarea"></textarea>
					<label for="textarea1">Komentar</label>
					<a class="waves-effect waves-light btn teks-putih rata-kanan offset-m3">Kirim</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}