{% extends "pengguna.template.html" %}

{% block title %}Daftar Dosen{% endblock %}

{% block content %}
	<h2>Hasil Pencarian : 'An'</h2>
	<h4>Dosen</h4>      
	<ul id="hasil-pencarian-dosen">
		<li class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card card-panel grey lighten-5 waves-effect waves-light">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ BASE_URL }}img/tes.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text">
                <h4>Rizkania Amaranggana Yusuf</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col s2">
              <span class="teal-text text-lighten-3 center-align">
                <h4>Rating</h4>
              <h1 style="line-height: 5px;"><strong>9</strong>.<small>85</small></h1>
              </span>
            </div>
          </div>
	        <div class="row">
		        <div class="col s12 m4 l2">
	                <h6 class="matkul black-text"><strong>Mengajar Mata Kuliah:</strong></h6>
		        </div>
		        <div class="col s12 m4 l8">
	              	<span class="black-text ">
	                	<h6>Proyek Perangkat Lunak, Analisis Numerik, <a href="detil-dosen" class="lain teal-text text-lighten-3">lainnya...</a></h6>
	              	</span>
		        </div>
	        </div>
        </div>
		</li>
		<li class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card card-panel grey lighten-5 waves-effect waves-light">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ BASE_URL }}img/tes.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text">
                <h4>Rizkania Amaranggana Yusuf</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col s2">
              <span class="teal-text text-lighten-3 center-align">
                <h4>Rating</h4>
              <h1 style="line-height: 5px;"><strong>9</strong>.<small>85</small></h1>
              </span>
            </div>
          </div>
	        <div class="row">
		        <div class="col s12 m4 l2">
	                <h6 class="matkul black-text"><strong>Mengajar Mata Kuliah:</strong></h6>
		        </div>
		        <div class="col s12 m4 l8">
	              	<span class="black-text ">
	                	<h6>Proyek Perangkat Lunak, Analisis Numerik, <a href="detil-dosen" class="lain teal-text text-lighten-3">lainnya...</a></h6>
	              	</span>
		        </div>
	        </div>
        </div>
		</li>
		<li class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card card-panel grey lighten-5 waves-effect waves-light">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ BASE_URL }}img/tes.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text">
                <h4>Rizkania Amaranggana Yusuf</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col s2">
              <span class="teal-text text-lighten-3 center-align">
                <h4>Rating</h4>
              <h1 style="line-height: 5px;"><strong>9</strong>.<small>85</small></h1>
              </span>
            </div>
          </div>
	        <div class="row">
		        <div class="col s12 m4 l2">
	                <h6 class="matkul black-text"><strong>Mengajar Mata Kuliah:</strong></h6>
		        </div>
		        <div class="col s12 m4 l8">
	              	<span class="black-text ">
	                	<h6>Proyek Perangkat Lunak, Analisis Numerik, <a href="detil-dosen" class="lain teal-text text-lighten-3">lainnya...</a></h6>
	              	</span>
		        </div>
	        </div>
        </div>
		</li>
	</ul>
	  <h4>Mata Kuliah</h4>
	  <ul id="hasil-pencarian-mata-kuliah">
	  <li class="col s12 m8 offset-m2 l6 offset-l3">
        <div class=" card card card-panel grey lighten-5 waves-effect waves-light" href="#!">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ BASE_URL }}img/grey.jpg" alt="" class=" activator circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text">
                <h4>Analisis Numerik</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col s2">
              <span class="teal-text text-lighten-3 center-align">
                <h5>Semester</h5>
              <h1 style="line-height: 5px;"><strong>6</strong></h5>
              </span>
            </div>
          </div>
	        <div class="row">
		        <div class="col s12 m4 l2">
	                <h6 class="black-text"><strong>Dosen Pengajar:</strong></h6>
		        </div>
		        <div class="col s12 m4 l8">
	              	<span class="black-text ">
	                	<h6>Dosen A, Dosen B, <a href="detil-mata-kuliah" class="lain teal-text text-lighten-3">lainnya...</a></h6>
	              	</span>
		        </div>
	        </div>
        </div>
      </li>
	  <li class="col s12 m8 offset-m2 l6 offset-l3">
        <div class=" card card card-panel grey lighten-5 waves-effect waves-light" href="#!">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ BASE_URL }}img/grey.jpg" alt="" class=" activator circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text">
                <h4>Analisis Numerik</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col s2">
              <span class="teal-text text-lighten-3 center-align">
                <h5>Semester</h5>
              <h1 style="line-height: 5px;"><strong>6</strong></h5>
              </span>
            </div>
          </div>
	        <div class="row">
		        <div class="col s12 m4 l2">
	                <h6 class="black-text"><strong>Dosen Pengajar:</strong></h6>
		        </div>
		        <div class="col s12 m4 l8">
	              	<span class="black-text ">
	                	<h6>Dosen A, Dosen B, <a href="detil-mata-kuliah" class="lain teal-text text-lighten-3">lainnya...</a></h6>
	              	</span>
		        </div>
	        </div>
        </div>
      </li>
	  <li class="col s12 m8 offset-m2 l6 offset-l3">
        <div class=" card card card-panel grey lighten-5 waves-effect waves-light" href="#!">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ BASE_URL }}img/grey.jpg" alt="" class=" activator circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text">
                <h4>Analisis Numerik</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col s2">
              <span class="teal-text text-lighten-3 center-align">
                <h5>Semester</h5>
              <h1 style="line-height: 5px;"><strong>6</strong></h5>
              </span>
            </div>
          </div>
	        <div class="row">
		        <div class="col s12 m4 l2">
	                <h6 class="black-text"><strong>Dosen Pengajar:</strong></h6>
		        </div>
		        <div class="col s12 m4 l8">
	              	<span class="black-text ">
	                	<h6>Dosen A, Dosen B, <a href="detil-mata-kuliah" class="lain teal-text text-lighten-3">lainnya...</a></h6>
	              	</span>
		        </div>
	        </div>
        </div>
      </li>
	<ul>
{% endblock %}