{% extends "pengguna.template.html" %}

{% block title %}Beranda{% endblock %}

{% block content %}
	<ul id="review-rekomendasi">

	{% for review in daftarReview %}
		<li class="row">
			<div class="card card-panel grey lighten-5 card-review">
				<div class="row">
					<div class="col s1"><img src="{{ BASE_URL }}/img/tes.jpg" alt="" class="activator circle responsive-img"></div>
					<h6 class="col s11"><strong>{{ review.dosen.nama }}</strong> diberikan {% if review.isBaik %}rekomendasikan{% else %}tidak rekomendasi{% endif %} oleh seseorang</h6>
				</div>
				<div class="row">
					<div class="col m2">
						<img src="{{ BASE_URL }}/img/tes.jpg" alt="" class="activator circle responsive-img">
					</div>
					<div class="col m10">
						<blockquote class="rd-review-home {% if review.isBaik %} baik {% else %} buruk {% endif %}">{{ review.isi }}</blockquote>
					</div>
				</div>

				{% for komentar in review.komentars.get %}
				<div class="row">
					<div class="col m9 offset-m2">
						<div class="col m2"><img src="{{ BASE_URL }}/img/tes.jpg" alt="" class="activator circle responsive-img"></div>
						<div class="col m10">
							<span>{{ komentar.isi }}</span>
						</div>
					</div>
				</div>
				{% endfor %}

				<form method="POST" action="{{ urlFor('komentar', {'id' : review.id }) }}" class="row">
					<div class="input-field col m9 offset-m3">
						<textarea id="komentar-{{review.id}}" name="komentar" class="materialize-textarea"></textarea>
						<label for="komentar-{{review.id}}">Komentar</label>
						<button type="submit" class="waves-effect waves-light btn teks-putih rata-kanan offset-m3">Kirim</button>
					</div>
				</form>
			</div>
		</li>
	{% endfor %}
	</ul>
{% endblock %}