{% extends "pengguna.template.html" %}

{% block title %}Daftar Mata Kuliah{% endblock %}

{% block content %}
	<h2>Daftar Mata Kuliah</h2>
	<h6 class="cap">Fakultas Ilmu Komputer Universitas Indonesia</h6>      
	<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ BASE_URL }}img/grey.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text">
                <h4>Analisis Numerik</h4>
              </span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col s2">
              <span class="teal-text text-lighten-3 center-align">
                <h5>Semester</h5>
              <h2><strong>6</strong></h2>
              </span>
            </div>
          </div>
	        <div class="row">
		        <div class="col s12 m4 l2">
	                <h6 class="matkul black-text"><strong>Dosen Pengajar:</strong></h6>
		        </div>
		        <div class="col s12 m4 l8">
	              	<span class="black-text ">
	                	<h6>Dosen A, Dosen B, <a href="#!" class="lain teal-text text-lighten-3">lainnya...</a></h6>
	              	</span>
		        </div>
	        </div>
        </div>
      </div>     
{% endblock %}