{% extends "global.template.html" %}

{% block body %}
	<nav class="rd-nav teal lighten-2">
    <div class="nav-wrapper">
    	<div class="left teal lighten-3 profil-button">
    		<a href="#" data-activates="sidebar" class="rd-profil-collapse"><i class="mdi-navigation-menu"></i></a>
    	</div>

    	<div class="left teal lighten-3 logo">
	      <a href="home" class="hide-on-small-only"><img src="{{ BASE_URL }}img/logopendek.png"></a>
	      <a href="home" class="left teal lighten-3 rd-nav-logo center hide-on-med-and-up"><img src="{{ BASE_URL }}img/logopanjang.png"></a>
	    </div>

      <form class="left teal lighten-1 pencarian hide-on-small-only">
        <div class="input-field right">
          <input id="search" type="text" placeholder="pencarian" required>
          <label for="search"><i class="mdi-action-search"></i></label>
        </div>
      </form>

      <ul class="right hide-on-small-only">
        <li><a href="dosen">Dosen</a></li>
        <li><a href="mata-kuliah">Mata Kuliah</a></li>
        <!-- <li><a href="mobile.html"><i class="mdi-navigation-more-vert"></i></a></li> -->
      </ul>

      <ul id="sidebar" class="profil side-nav">

      	<li class="logo">
      		RDss
      	</li>

      	<li class="detail">
	      	<span class="nama">Hai, <strong>{{ pengguna.nama }}</strong>!</span><br/>
	      	<span class="npm">NPM <strong>{{ pengguna.npm }}</strong></span>
      	</li>
		
		<li class="jumlahrekomendasi">
	      	<span class="rekomendasi">96 Rekomendasi</span> | <span class="tidakrekomendasi">1 Tidak Rekomendasi</span>
      	</li>

      	<li class="achievement-list">
      		<span>Achievement</span><br/>
			<img src="http://placehold.it/87x15">
			<img src="http://placehold.it/87x15">
      	</li>

      	<li class="action">
		      <ul class="tabs">
		        <li class="tab col s6"><a href="#test1" class="active">Notifikasi</a></li>
		        <li class="tab col s6"><a href="#test2">Riwayat</a></li>
		      </ul>
			    <div id="test1" class="col s12">Test 1</div>
			    <div id="test2" class="col s12">Test 2</div>
      	</li>
		  </ul>
		  
    </div>
  </nav>

  <div class="container">
	{% block content %}
	{% endblock %}
	</div>
{% endblock %}

{% block js %}
<script>
	$(".rd-profil-collapse").sideNav();
</script>
{% endblock %}