{% extends "pengguna.template.html" %}

{% block title %}Rincian Dosen{% endblock %}

{% block content %}
		<li>Dosen : {{ dosen.nama}}</li>
		<li>NIP : {{ dosen.nip}}</li>
		<li>TTL : {{ dosen.ttl}}</li>
		<li>Jenis Kelamin : {{ dosen.jeniskelamin}}</li>

		<form method="POST" action="{{ BASE_URL }}/tambahreview/{{dosen.nip}}">
			<textarea name="review"></textarea>
			<input type="hidden" name="jenis" value="0">
			<button type="submit">Submit</button>
		</form>

		<form method="POST" action="{{ BASE_URL }}/tambahreview/{{dosen.nip}}">
			<textarea name="review"></textarea>
			<input type="hidden" name="jenis" value="1">
			<button type="submit">Submit</button>
		</form>

		<li>Review :
		{% for rvw in review %}
			{% set counterup = 0 %}
			{% set counterdown = 0 %}
			{% for vt in vote %}
				{% if rvw.id == vt.review_id %}
					{% if vt.tipe == 1 %}
						{% set counterup = counterup + 1 %}
					{% endif %}
					{% if vt.tipe == 0 %}
						{% set counterdown = counterdown + 1 %}
					{% endif %}
				{% endif %}
			{% endfor %} </li>
			<li>Upvote : {{ counterup }} <a href="#">Up</a></li>
			<li>Downvote : {{ counterdown }} <a href="#">Down</a></li>
			{% set counterreport = 0 %}
			{% for rprt in report %}
				{% if rvw.id == rprt.review_id %}
					{% set counterreport = counterdown + 1 %}
				{% endif %}
			{% endfor %} </li>
			<li>Report : {{ counterreport }}</li>
			<li>Jenis : {{ rvw.jenis}}</li>
			<li>Isi : {{ rvw.isi}}</li>
			<li>Komentar :
			{% for kmntr in komentar %}
				{% if rvw.id == kmntr.review_id %}
				<li>Isi : {{ kmntr.isi}}</li>
				{% endif %}
			{% endfor %} </li>

			<form method="POST" action="{{ BASE_URL }}">
				<textarea name="komentar"></textarea>
				<button type="submit">Submit</button>
			</form>
		{% endfor %}
		</li>
		
{% endblock %}