{% extends "pengguna.template.html" %}

{% block title %}Rincian Dosen{% endblock %}

{% block content %}
		<li>Dosen : {{ dosen.nama}}</li>
		<li>NIP : {{ dosen.nip}}</li>
		<li>TTL : {{ dosen.ttl}}</li>
		<li>Jenis Kelamin : {{ dosen.jeniskelamin}}</li>

		<form method="POST" action="{{ BASE_URL }}/review/baik/{{ dosen.nip}}">
			<textarea name="review-baik"></textarea>
			<button type="submit">Submit</button>
		</form>

		<form method="POST" action="{{ BASE_URL }}/review/buruk/{{ dosen.nip}}">
			<textarea name="review-buruk"></textarea>
			<button type="submit">Submit</button>
		</form>

		<li>Review :</li>
		{% for review in dosen.reviews.get %}
			<li>Upvote : {{ review.jumlahUpvote }} <a href="{{ BASE_URL }}/upvote/{{ review.id}}">Up</a></li>
			<li>Downvote : {{ review.jumlahDownvote }} <a href="{{ BASE_URL }}/downvote/{{ review.id}}">Down</a></li>
			<li>Report : {{ review.jumlahReport }} <a href="{{ BASE_URL }}/report/{{ review.id}}">Report</a></li>

			<li>Jenis : {{ review.jenis }}</li>
			<li>Isi : {{ review.isi}}</li>

			<li>Komentar :</li>
			{% for komentar in review.komentars.get %}
				<li>Isi : {{ komentar.isi}}</li>
			{% endfor %}

			<form method="POST" action="{{ BASE_URL }}/komentar/{{ review.id }}">
				<textarea name="komentar"></textarea>
				<button type="submit">Submit</button>
			</form>
		{% endfor %}
		</li>
		
{% endblock %}