{% extends "pengguna.template.html" %}

{% block title %}RUD Komentar{% endblock %}

{% block content %}
		{% for kmntr in komentar %}
		<li>{{ kmntr.isi}}</li>
		<li>{{ kmntr.review_id}}</li>
		<A href = "{{ BASE_URL }}/admin/rudkomentar/delete/{{ kmntr.id}}">Delete</a>
		<a class = "modal-trigger" href = "#komentarupdate-dialog-{{ kmntr.id }}" data-id= "{{kmntr.id}}">Update</a>
		
		<!-- Modal Feedback -->
		  <form action="{{ BASE_URL }}/admin/rudkomentar/update/{{kmntr.id}}" method="post" id="komentarupdate-dialog-{{ kmntr.id }}" class="modal modal-footer">
			<div class="modal-content">
			  <h4>Update Komentar</h4>
			  <div class="input-field">
				<textarea id="isikmntr-{{kmntr.id}}" name="isikmntr" class="materialize-textarea">{{ kmntr.isi }}</textarea>
				<label for="isikmntr-{{kmntr.id}}">Isi Komentar : </label>
				</div>
				
			  <label>
			</div>
			<div class="modal-footer">
			  <button type="submit" class="green waves-effect waves-white btn">Kirim</button>
			  <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Batal</a>
			</div>
		  </form>
		{% endfor %}
{% endblock %}